
@{
    ViewBag.Title = "Index";
}



<h2 id="container"></h2>
<p>Visit <a href="http://techbrij.com">TechBrij.com</a> for more details.</p>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/react/react-0.12.2.min.js"></script>
<script src="@Url.Content("~/Scripts/jsx/HelloWorld.jsx")"></script>